h1 {

  text-transform: uppercase;
  color: #23104e;
}
.text{
  color: rgb(3, 11, 20);
  border: solid 0 5px;
  border-radius: 10px 20px;
  font-size: 20px;
  padding:40px;
  box-shadow: 2px 2px 10px grey;
}
